<section class="card password">

    <div class="textinto">
        <h1>Welcome to Password Reset Page</h1>

        <p style="color: red;">....Please Enter a Valid Email Address....</p>

        <p ng-show="true">{{ message }}</p>
    </div>
    <form name="passPage" id="passPage" ng-submit="savePassword()" novalidate>
     
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Enter a Valid Email Address" ng-model="user.email"
                 ng-required="true">
            <p class="error validationerror" ng-show="passPage.$invalid 
                && passPage.email.$touched">
                Must be a valid email</p>
        </div>
        <button type="submit" class="btn btn-success" ng-disabled="passPage.$invalid" ng-show="true">Submit</button>
        <br>
        <span><a href="#!/login">Go Back to Login Page</a></span>
    </form>




</section>