<section class="card resetpassword">

    <div class="textinto">
        <h1>Welcome to Password Reset Page</h1>

        <p ng-show="true">{{ message }}</p>
    </div>
    <form name="resetPass" id="resetPass" ng-submit="reset()" novalidate>
        <div class="form-group">
            <input type="password" class="form-control" name="pass" 
            placeholder="New Password" ng-model="user.pass" minlength="6" ng-required="true">
            <p class="error validationerror" ng-show="resetPass.$invalid 
                && resetPass.pass.$touched">
            Enter a New Password</p> 
        </div>
      
       
        <button type="submit" class="btn btn-success" ng-disabled="resetPass.$invalid" ng-show="true">Reset Password</button>
       
    </form>